
body {
    font-family: Arial, sans-serif;
    background: rgb(244, 221, 221);
    background: linear-gradient(342deg, rgb(244, 221, 221) 0%, rgb(244, 221, 221)100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center; /* Untuk menyatukan elemen secara horizontal */
    align-items: flex-start;
    margin-top: 20px;
}

.text {
    text-align: center;
    margin-bottom: 30px;
}

.table-title {
    color: #030303;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
    text-align: center; /* Menengahkan teks secara horizontal */
}
.table-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 0px; /* Jarak antara judul dan tabel */
    overflow-x: auto; /* Agar tabel dapat di-scroll jika terlalu lebar */
}

.table {
    background-color: #ceb9b9; /* Warna hitam yang lebih gelap */
    color: #ffffff; /* Warna teks putih */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    width: 100%; /* Menggunakan lebar 100% agar tabel menyesuaikan lebar wadahnya */
    margin-top: 0px;
    border-collapse: collapse; /* Untuk memastikan border-collapse */
}



th, td {
    color: #000000;
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}

th {
    background-color:#621313; /* Merah */
    color: #fff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #b48484; /* Ganti dengan warna yang diinginkan */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #b48484; /* Ganti dengan warna yang diinginkan */
}

.alert-danger {
    margin-top: 20px;
    background-color: #990000; /* Merah yang lebih gelap */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alert-danger.show {
    opacity: 1;
}
.content {
    padding-top: 10px; /* Jarak antara header dan konten */
}
.logo-edit,
.logo-delete {
  width: 20px; /* Sesuaikan ukuran lebar */
  height: 20px; /* Sesuaikan ukuran tinggi */
  display: inline-block; /* Menjadikan gambar tampil secara berdampingan */
  vertical-align: middle; /* Menengahkan gambar */
}

.btn.btn-sm.btn-danger {
  padding: 5px; /* Sesuaikan padding sesuai kebutuhan */
}
@media screen and (max-width: 768px) {
    .table {
        width: 500%; /* Menggunakan lebar 100% agar tabel menyesuaikan lebar wadahnya */
    }
} 

